.multiline {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .contenedor{
    margin: 15px ;
  }
  .dos {
    display: flex;
 
    flex-wrap: wrap;
    justify-content: flex-start;
   }
 