<ion-header>
  <ion-toolbar>
    <ion-title>segunda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item-sliding *ngFor="let dato of data.datos;let i=index">
      <ion-item color="medium">
        <ion-label>
                 Total: {{dato.precio}} €
        </ion-label>
      </ion-item>
    </ion-item-sliding>

    <div class="contenedor" >
      <ion-list>
        <ion-radio-group [(ngModel)]="pago">
          <ion-list-header>
            <h3><ion-label>Método de pago</ion-label></h3>
          </ion-list-header>

          <ion-item>
            <ion-label>Tarjeta de crédito</ion-label>
            <ion-radio slot="start" color="success" value="Credito"></ion-radio>
          </ion-item>
          <br>
          <div style="margin-left:60px;"> 
          <ion-input type="number" placeholder="Card Number" [(ngModel)]="cardN"></ion-input>
            <ion-input type="text" placeholder="Card Holder Name" [(ngModel)]="cardOwner"></ion-input>
            <ion-input type="number" placeholder="Exp.Month(MM)" [(ngModel)]="cardMonth"></ion-input>
            <ion-input type="number" placeholder="Exp.Year(YYYY)" [(ngModel)]="cardYear"></ion-input>
            <ion-input type="number" placeholder="CVV" [(ngModel)]="cvv"></ion-input>
          </div>

          <ion-item>
            <ion-label>PayPal</ion-label>
            <ion-radio slot="start" color="success" value="Paypal"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>crypto.com Pay</ion-label>
            <ion-radio  slot="start" color="success" value="Crypto"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>bitpay</ion-label>
            <ion-radio slot="start" color="success" value="Bitpay"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

<ion-list>
  <ion-radio-group [(ngModel)]="direccionFinal">
    <ion-list-header>
      <h3><ion-label>Dirección de facturación</ion-label></h3>
    </ion-list-header>


    <ion-item>
      <ion-label  >Igual que la direccion de envio</ion-label>
      <ion-radio  slot="start" color="success" value="igual"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label  >Usar una dirección diferente</ion-label>
      <ion-radio  slot="start" color="success" value="cambio"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>


<ion-item >
  <ion-label >I agree with the Sales Terms and Conditions and with the Website Terms of Use.</ion-label>
<ion-checkbox color="primary" checked slot="start"></ion-checkbox>
</ion-item>

<div  style="background-color: lightgrey;border-radius: 5px;">
<ion-label>The payment method you selected may require additional verification. You may be redirected to a 3rd party site to complete the verification.</ion-label>
</div>

<ion-button (click)="finalizar()" expand="block" color="success" shape="round">
  Finalizar >
</ion-button>
<br>
<ion-button (click)="volver()" expand="block"color="light" shape="round">
  < Volver
</ion-button>
</div>
</ion-content>
