<ion-header>
  <ion-toolbar>
    <ion-title>Datos personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-item-sliding *ngFor="let dato of data.datos;let i=index">
    <ion-item color="medium">
      <ion-label>
               Total: {{dato.precio}} €
      </ion-label>
    </ion-item>


    <div class="contenedorExtra">
<h3><ion-label>Dirección de envio</ion-label></h3>
<ion-item lines="none">
  <span>{{dato.nombre}}</span><span>, {{dato.apellido}}</span>
</ion-item>
<ion-item lines="none">
  <span>{{dato.direccion1}},</span>
  <span>{{dato.ciudad}},</span>
  <span>{{dato.provincia}},</span>
  <span>{{dato.cp}},</span>
  <span>{{dato.pais}}</span>
</ion-item>
<span style="margin:17px;">{{dato.telefono}}</span>
<br>
<ion-button (click)="volver()"  fill="clear" color="success" shape="round" >
  Edit
</ion-button>
</div>
</ion-item-sliding>

<div class="contenedor">
<ion-list>
  <ion-radio-group  [(ngModel)]="envio">
    <ion-list-header>
      <h3><ion-label >Método de envío</ion-label></h3>
    </ion-list-header>
    <ion-item>
      <ion-label>Tracked Shipping with DHL Economy(2-5 BusinessDays)</ion-label>
      <ion-radio slot="start" color="success" value="free"></ion-radio>
      
    </ion-item>
    <ion-label  color="warning">Orders including a Nano X will be shipped in two weeks</ion-label>
    <br>
    <ion-label style="margin:17px;" color="success">FREE SHIPPING</ion-label>


    <ion-item>
      <ion-label>Express Shipping with DHL Express(1-2Business Days)</ion-label>
      <ion-radio slot="start" color="success" value="10.58"></ion-radio>
      
    </ion-item>
    <ion-label color="warning">Orders including a Nano X will be shipped in two weeks</ion-label>
    <br>
    <ion-label style="margin:17px;" color="dark">10.58€</ion-label>
    </ion-radio-group>
</ion-list>



    <ion-button (click)="terceraPagina()" expand="block" color="success" shape="round">
      Siguiente >
    </ion-button>
    <br>
    <ion-button (click)="volver()" expand="block"color="light" shape="round">
      < Volver
    </ion-button>
  </div>
</ion-content>
