<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-sliding *ngFor="let dato of data.datos;let i=index">
    <ion-item color="medium">
      <ion-label>
               Total: {{dato.precio}} €
      </ion-label>
    </ion-item>
  </ion-item-sliding>
  <div class="contenedor" >

<!--TUVE QUE QUITAR LA ETIQUETA FORM YA QUE SINO ME DABA UN ERROR AL USAR NGMODEL EN LOS INPUT-->
  <h3><ion-label>Código promocional</ion-label></h3>

    <ion-input  type="text" [(ngModel)]="codigo" placeholder="Introduce el código de promoción...(Opcional)" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; "  >
      <ion-button (click)="codigoAplicar()" color="light"expand="block "shape="round" >Aplicara</ion-button></ion-input >    


<br>

<h3><ion-label>Información del cliente</ion-label></h3>

  <ion-input  type="email" placeholder="Correo electronico" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis; " [(ngModel)]="email"></ion-input>

<br>

<ion-item >
  <ion-label >I consent  to receiving emails from Ledger about prodcuts, updates,and industry news</ion-label>
<ion-checkbox color="primary" checked slot="start"></ion-checkbox>
</ion-item>

<h3><ion-label>Estoy comprando como</ion-label></h3>
<div class="dos">
  <ion-input type="text" placeholder="Primer nombre"[(ngModel)]="nombre"></ion-input>
  <ion-input type="text" placeholder="Apellido" [(ngModel)]="apellido"></ion-input>
</div>
<br>

  <ion-input type="text" placeholder="Empresa(Opcional)" [(ngModel)]="empresa"></ion-input>

<br>

  <ion-input type="text" placeholder="Dirección línea 1" [(ngModel)]="direccion1"></ion-input>

<br>

  <ion-input type="text" placeholder="Dirección línea 2" [(ngModel)]="direccion2"></ion-input>

<br>
<ion-item lines="none">
  <ion-label>Pais</ion-label>
  <ion-select interface="popover" [(ngModel)]="pais">
    <ion-select-option value="ESP">España</ion-select-option>
    <ion-select-option value="FR">Francia</ion-select-option>
    <ion-select-option value="IT">Italia</ion-select-option>
    <ion-select-option value="GR">Alemania</ion-select-option>
    <ion-select-option value="PR">Portugal</ion-select-option>
    <ion-select-option value="UK">Reino Unido</ion-select-option>
  </ion-select>
</ion-item>
<br>
<div class="dos">
  <ion-input type="text" placeholder="Ciudad" [(ngModel)]="ciudad"></ion-input>

  <ion-label>Provincia</ion-label>
  <ion-select interface="popover" [(ngModel)]="provincia">
    <ion-select-option value="Barcelona">Barcelona</ion-select-option>
    <ion-select-option value="LLeida">Lleida</ion-select-option>
    <ion-select-option value="Madrid">Madrid</ion-select-option>
    <ion-select-option value="Girona">Girona</ion-select-option>
  </ion-select>
</div>
<br>

  <ion-input type="number" placeholder="Código postal" [(ngModel)]="cp"></ion-input>

<br>

  <ion-input type="number" placeholder="Teléfono" [(ngModel)]="telefono"></ion-input>

<br>



<ion-button (click)="segundaPantalla()" expand="block" color="success" shape="round">
  Siguiente >
</ion-button>
</div>

</ion-content>
