<ion-header>
  <ion-toolbar>
    <ion-title>resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let dato of data.datos;let i=index">
    <ion-item color="medium">
      <ion-label>
               Total: {{dato.precio}} €
      </ion-label>
    </ion-item>

    <div class="contenedorExtra">
      <h3><ion-label>Dirección de envio</ion-label></h3>
      <ion-item lines="none">
        <span>{{dato.nombre}}</span><span>, {{dato.apellido}}</span>
      </ion-item>
      <ion-item lines="none">
        <span>{{dato.direccion1}},</span>
        <span>{{dato.ciudad}},</span>
        <span>{{dato.provincia}},</span>
        <span>{{dato.cp}},</span>
        <span>{{dato.pais}}</span>
      </ion-item>
      <span style="margin:17px;">{{dato.telefono}}</span>
      <br>
      <ion-button (click)="volverInicio()"  fill="clear" color="success" shape="round" >
        Edit
      </ion-button>
     
      </div>

      <div class="contenedorExtra">
        <h3><ion-label>Datos de pago</ion-label></h3>
            <span>Método {{dato.pago}}</span><br>
            <div  *ngIf="(dato.pago=='Credito')">
            <span>Numero tarjeta {{dato.cardN}}</span><br>
            <span>Propietario tarjeta {{dato.cardOwner}}</span><br>
            <span>Mes {{dato.expM}}</span><br>
            <span>Año {{dato.expY}}</span><br>
            <span>CVV {{dato.cvv}}</span><br>
          </div>
      </div>
     
      <ion-button (click)="presentAlert()" expand="block" color="success" shape="round">
        Finalizar >
      </ion-button>
      <br>
      <ion-button (click)="volver()" expand="block"color="light" shape="round">
        < Volver
      </ion-button>
  </ion-item-sliding>
</ion-content>
